<li id="<%= @post.id %>">
	<%= link_to gravatar_for(@post.user), @post.user %>
	<span class="user">
		<%= link_to @post.user.name, @post.user %>
	</span>
	<span class="topic"><%= @post.topic %></span>
	<span class="content"> <%= @post.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(@post.created_at) %> ago.
	</span>
	<span class="comment"><%= render 'shared/comment_form', post: @post %>
	</span>

	<% if @comments.any? %>
		<span class="comments">
			<%= render 'shared/comments' %>
		</span>
	<% end %>
</li>